.link-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
}

.link {
    margin: 0 15px;
    text-decoration: underline;
    color: #1242e0;
    font-size: 18px;
    transition: color 0.3s;
}

.link:hover {
    color: #f5ed84;
}


/* Style for the logout button */

.logout-button {
    background: none;
    border: none;
    color: #1242e0;
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline;
}

.logout-button:hover {
    color: #f5ed84;
}